MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
MYSQL_DATABASE=${MYSQL_DATABASE}
MYSQL_USER=${MYSQL_USER}
MYSQL_PASSWORD=${MYSQL_PASSWORD}
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
BACKUP_FTP_SERVER=${BACKUP_FTP_SERVER}
BACKUP_FTP_USER=${BACKUP_FTP_USER}
BACKUP_FTP_PASS=${BACKUP_FTP_PASS}
BACKUP_IGNORE_PATH=${BACKUP_IGNORE_PATH}
BACKUP_IGNORE_PATH_SHORT=${BACKUP_IGNORE_PATH_SHORT}
